.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d );
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
}

.header__navbar-user{
    align-items: center;
    display: flex;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-avatar{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}



.header__navbar-user-menu{
    position: absolute;
    padding: 4px 0;
    top: calc(100% + 5px);
    right: 0;
    list-style: none;
    width: 140px;
    background-color: var(--white-color);
    z-index: 1;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    display: none;
}

.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    width: 106px;
    height: 12px;
    right: 0;
    top: -12px;
}

.header__navbar-user-menu::before{
    content: "";
    border-width: 12px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 20px;
    top: -18px;
}

.header__navbar-user-item{
    padding: 8px 12px;

}

.header__navbar-user-item:hover {
    background-color: #eaeaea;
    z-index: 2;
}

.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-item,
.header__navbar-item-link{
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px; 
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}


.header__navbar-item--strong{
    font-weight: 400;
}


.header__navbar-item--icon{
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-item--has-notify:hover .header_notify{
    display: block;
}

.header__navbar-icon{
    margin: 0 4px;
}

.header__navbar__lable{
    color: var(--white-color);
    cursor: text;
    margin-right: 3px;
}

.qr_code_download{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 160%;
    display: none;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
} 

.qr_code_download::before{
    position: absolute;
    width: 100%;
    height: 8%;
    content: "";
    display: block;
    top: -16px;
}

.qr_code_download__qr{
    padding: 8px;
    width: 100%;
}

.apps_download{
    display: flex;
    justify-content: space-between;
}

.apps_download__app_store,
.apps_download__app_play{
    height: 15px;
}

.apps_download__app_store{
    margin-left: 19px;
}
.apps_download__app_play{
    margin-right: 19px;
}

.header__navbar_display_qr:hover .qr_code_download{
    display: block;
}
    

.header_notify {
    position: absolute;
    top: 150%;
    right: 0;   
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: 90% top;
    animation: header_notify_Growth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.header_notify::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -26px;
}

.header_notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 12px;
    right: 0;
    top: -12px;
}
@keyframes header_notify_Growth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header_notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header_notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    
}
.header_notify_list {

    padding-left: 0;

}
.header_notify_item {

    display: flex;
}

.header_notify_item:hover{
    background-color: #f1f1f1;
}
.header_notify_item--viewed{
    background-color: rgba(238, 75, 43, 0.1);
}
.header_notify_link {
    display: flex;
    text-decoration: none;
    padding: 12px;
    width: 100%;
    
}
.header_notify_img {
    width: 48px;
    object-fit: contain;
}
.header_notify-info {
    margin-left: 12px;
}
.header_notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;

}
.header_notify-decreption {
    line-height: 1.8rem;
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
}

.header_notify-footer{
    display: flex;
}
.header_notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);   
    text-align: center;
    width: 100%;
    padding: 12px;
}



.auth-form{
    width: 500px;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth_form__input{
    margin-top: 16px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth_form__input:focus{
    border-color: #777;
}

.auth-form-aside{
    margin-top: 16px;

}
.auth-from__policy-text{
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    padding: 0 12px;
}

.auth-from__policy-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 32px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--facebook .auth-form__socials-icon{
    color: var(--white-color);
}
.auth-form__social-title{
    margin: 0 32px;
}
.auth-form__socials--google{
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
}
.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #999;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

.auth-form__hyphen{
    display: block;
    border-left: solid 1px #eaeaea;
    height: 20px;
    margin: 0 16px;
}

.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__logo{
    width: 200px;
}

.header__logo-img{
    width: 150px;
}

.header__logo-link{
    text-decoration: none;
    color: transparent;
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart{
    width: 150px;
    text-align: center;
}

.head__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.head__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-count{
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 1px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}

.header__cart-icon{
    font-size: 2.2rem;
    color: var(--white-color);
    margin-top: 4px;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 8px);
    right: -4px;
    background-color: var(--white-color);
    width: 360px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none; 
    animation: header_notify_Growth ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    right: 4px;
    top: -25px; 
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart{
    padding: 24px 0;
}


.header__cart-no-cart-img{
    display: none;
    width: 50%;
}

.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 16px;
    color: var(--text-color);
    font-weight: 500;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 50vh;
    overflow-y: auto;
}
.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8
}
.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}
.header__cart-item-name {
    flex: 1;
    text-align: left;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}
.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}
.header__cart-item-descreption {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer
}


.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover{
    background-color: #F05D41;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
    width: 100%;

}


.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2px;
    padding: 0 16px;
    outline: none;
    font-size: 1.4rem;
}

.header__search-select{
    border-left: solid 1px #A9A9A9;
    padding-left: 16px;
    position: relative;

}

.header__search-option{
    font-size: 1.4rem;
    margin: 0 8px;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.2rem;
    color: #A9A9A9;
    margin-right: 16px;
}
.header__search-button{
    border: none;
    height: 34px;
    border-radius: 2px;
    background-color: var(--primary-color);
    width: 60px;
    margin-right: 3px;
}
.header__search-button:hover{
    cursor: pointer;
    background-color: #fb6445;
}
.header__search-icon{
    color: var(--white-color);
    font-size: 1.6rem;
}

.header__search-select:hover .header__search-option-list{
    display: block;
}
.header__search-option-list{
    position: absolute;
    list-style: none;
    right: 0;
    top: 118%;
    width: 130px;
    box-shadow: 0 1px 2px #999;
    padding-left: 0;
    display: none;
    z-index: 1;
}
.header__search-option-list::after{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -15px;
    left: 0;
    position: absolute;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
}
.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-active i{
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* Search History */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3px #999;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading{
    margin: 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.header__search-history-list{
    padding-left: 0px;
    list-style: none;
    margin: 6px 0 0; 
}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}


/* Home Page */

.app__container{
    background-color: #F5F5F5;
}

.app__content{
    padding-top: 32px;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading{
    margin-top: 0;
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    margin-bottom: 0;
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -2px;
}

.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 10px;
}

.category-item{
    position: relative;
}

.category-item::before{
    position: absolute;
    content: "";
    left: 16px;
    right: 16px;
    top: 0;
    border-top: 1px solid #E1E1E1;

}

.category-item:first-child::before{
    display: none;
}
.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    border: 4px solid;
    transform: translateY(calc(-50% - 2px));
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 12px 16px;
    position: relative;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover{
    left: 4px;
    color: var(--primary-color);
}
/* soft + filter */
.home-filter{
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 2px;
}

.home-filter__lable{
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-filter__btn{
    background-color: var(--white-color);
    margin-right: 12px;
}

.home-filter__paginate-number{
    font-size: 1.4rem;
    color: var(--text-color);
}

.home-filter__paginate-current{
    color: var(--primary-color);
}
.home-filter__paginate{
    margin-left: auto;
    display: flex;
}

.home-filter__pagenate-navigate{
    margin-left: 24px;
}

.home-filter__pagenate-btn{
    padding: 12px 16px;
    background-color: var(--white-color);
    margin-right: 1px;
    border-radius: 2px;
    text-decoration: none;
}

.home-filter__pagenate-icon{
    color: #555555;
}

.home-filter__pagenate-btn--disabled{
    background-color: #F9F9F9;
    cursor: default;
}

.home-filter__pagenate-btn--disabled .home-filter__pagenate-icon{
    color: #ccc;
}

/* home product */

.home-products{
    margin-bottom: 10px;
}
.home-product-item {
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px  0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}



.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px  0 rgba(0, 0, 0, 0.1);

}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    margin: 10px 10px 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon{
    display: none;
    color: #F63D30;
}

.home-product-item__like--liked .home-product-item__dont-like-icon{
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon{
    display: inline-block;
}
.home-product-item__rating {
    transform: scale(0.8);
    transform-origin: right;
    color: #D5D5D5;
    margin-left: auto;
}

.home-product-item__rating-gold{
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 4px 10px 0;
    color: #595959;
    font-weight: 300;
    font-size: 1.2rem;
}

.home-product-item__brand {

}

.home-product-item__country {

}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;    
}

.home-product-item__favourite::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(70%);

}

.home-product-item__favourite-icon {
    font-size: 0.9rem;
    margin: 0 2px 0 4px;
    color: var(--white-color);

}

.home-product-item__favourite-lable {
    padding-right: 4px;
    color: var(--white-color);

}

.home-product-item__discount {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64,0.8);
    text-align: center;
    border-top-right-radius: 2px;
}   

.home-product-item__discount::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5.5px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64,0.8) transparent rgba(255, 216, 64,0.8);
}
.home-product-item__discount-percent {
    color: #EE4D2D;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    margin-top: 2px;
}

.home-product-item__discount-lable {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2rem;
}

